[submodule "themes/codenamecore2"]
	path = themes/codenamecore2
	url = git@github.com:dplayz/codenamecore2
[submodule "themes/codenamecore"]
	path = themes/codenamecore
	url = git@github.com:dplayz/codenamecore
