[submodule "themes/codenamecore2"]
	path = themes/codenamecore2
	url = https://github.com/dplayz/codenamecore2
[submodule "themes/codenamecore"]
	path = themes/codenamecore
	url = https://github.com/dplayz/codenamecore
