<nav class="navbar">
    <div class="brand-title"><a href="/"><img src="/images/logo.png" width="100px"></a></div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog" target="_parent">Blog</a></li>
        <li><a href="/info" target="_parent">Info</a></li>
        </ul>
          </div>
          <script>
            const toggleButton = document.getElementsByClassName('toggle-button')[0]
            const navbarLinks = document.getElementsByClassName('navbar-links')[0]
             
             toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
            })
          </script>
      </ul>
    </div>
  </nav>
  <div class="pageheaderpadding"></div>