<noscript><div id="errormessage">
    <h2>Error</h2>
    <h1>Javascript is off</h1><p>Website cannot be displayed properly because Javascript is turned off</p>
    <h3>What should I do?</h3><p>Enable Javascipt, and reload this page</p>
</div><style>#pagecontent{display:none;}</style></noscript>
{{ print "<!--Inside Site Scripts-->"  | safeHTML }}
<script>$(function(){$("#pagenotice").load("/global/notice.html");});</script>
<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  });
	}
</script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "c297670d-63a2-4232-8f52-a8602fdffc33",
    });
  });
</script>
<script src="./scripts/browser-update.js"></script>
{{ print "<!--Outside Site Scripts -->" | safeHTML }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>