{{ define "main" }}
<div class="pagetitle">
  <h1>Blogs</h1>
</div>
<div id="pagecontent">
{{ range.Data.Pages }}
<div class="padding">
  <article class="post-snippet">
    <img src="{{if eq .Params.customPagePreviewImage true}}{{ .Params.customPagePreviewImageURL | absURL }}{{ else }}{{ .Site.Params.pagePreviewImage | absURL }}{{end}}">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <a href="{{ .RelPermalink }}" style="color:black;"><p>Published {{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</p></a>
  </article>
</div>
{{ end }}
</div>
{{end}}